<html>
  <head>
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <title>Green Pasture by FCT</title>
    <link href='http://fonts.googleapis.com/css?family=Oswald:400,300' rel='stylesheet' type='text/css' />
    <link href='http://fonts.googleapis.com/css?family=Abel|Satisfy' rel='stylesheet' type='text/css' />
    <link href="default.css" rel="stylesheet" type="text/css" media="all" />
    <!--[if IE 6]>
    <link href="default_ie6.css" rel="stylesheet" type="text/css" />
    <![endif]-->
  </head>
  <body>
    
    <div id="header-wrapper">
      <div id="header">
        
        <div id="logo">
          <h1><a href="#"><img src="assets/My_library_logo.png" width="80" height="80" alt="" /></a><a href="#">My Library</a></h1>
          
        </div>
        
        <div id="menu">
          <ul>
            <li ><%= link_to 'Homepage', library_admin_index_path %></li>      
            <li><%= link_to 'Categories', library_admin_categories_path %> </li>
            <li class="current_page_item"><%= link_to 'About Us', library_admin_about_us_path %> </li>
            <li><%= link_to 'Careers', library_admin_carrers_path %> </li>
            <li><%= link_to 'Contact Us', library_admin_conatct_us_path %> </li>
            
          </ul>
        </div>
      </div>
    </div>
    <div id="banner">
      <div class="img-border"> <a href="#"><img src="assets/library-wallpaper.jpg" width="1200" height="250" alt="" /></a> </div>
    </div>
    <div id="wrapper">
      <div id="page-wrapper">
        <div id="page">
          
          <div style="float:left;">
            
            <div style="width:600px;padding-left:10px;padding:10px 0px 10px 10px;float:left;">
              <h1>About Us</h1>
              </br>
              <div style="padding:10px 10px 10px 10px;background:#CFD8DF;border:solid 1px #b0b0b0;border-radius:5px;">
                <p>PublicLibraries.com strives to promote the use and support of local public libraries in every city across the United States.
                  We strongly feel that the most important tool in our children's development is the availability of quality education and access 
                  to educational materials regardless of class or location.  
                  
                <p>PublicLibraries.com has been operating online since 1997 and over the past 14 years helped millions of visitors connect with
                  the books, movies, media and people of their local public library.  Our services have been recognized by thousands of websites and 
                  organizations over the years. Here are just a few.</p>  
              </div>
            </div>
          </div>
          <div id="page" class="container">
            <div id="content">
              <div>
                <ul class="style1">
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div id="footer" class="container">
      <p>Copyright (c) 2012 Sitename.com. All rights reserved. Design by <a href="http://www.freecsstemplates.org">FCT</a>. Photos by <a href="http://fotogrph.com/">Fotogrph</a>.</p>
    </div>	
  </body>
</html>